@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url(/img/fondo-primavera-dibujado-flores_23-2148833619.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.nav {
  width: 100%;
  height: 100%;
}

.nav__link {
  width: auto;
  color: #000000;
  display: block;
  padding: 15px 0;
  text-decoration: none;
  border-radius: 25%;
}
.nav__link:hover {
  color: #000000;
  text-decoration: none;
}

.nav__link--inside {
  border-radius: 6px;
  padding-left: 0;
  text-align: center;
}

.nav__link--inside:hover {
  background: #867e71;
  text-decoration: none;
}

.logo_img {
  width: 50px;
  height: 50px;
  position: absolute;
  justify-content: center;
  top: 5px;
  left: 45px;
  border-radius: 50%;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 0;
  margin: 0 20px;
  justify-content: right;
  flex-direction: row;
  border-radius: 32px ;
  background: white;
  position: relative;
}

.list__item {
  list-style-type: none;
  width: 10%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  margin-left: 10px;
}

.list__item--click {
  cursor: pointer;
  margin-bottom: 10px;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
}
.arrow .list__arrow {
  transform: rotate(90deg);
}

.list__arrow {
  margin-left: 0;
  transition: transform 0.3s;
}

.list__show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height 0.4s;
  height: 0;
}
/*-----------------------------------------------------*/
.Carrousel{
  width: 50%;
  height: 50%;
  

}
/*-----------------------------------------------------*/
@media (max-width: 576px) {
.nav{
    width: 195px;
        
}
    
.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
    
        
    
        
    
}
.nav__link:hover{
    color: #303440;
}
    
    
.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
    
}
    
.nav__link--inside:hover{
    background: #f6f8fa;
    
    
}
    

    
.logo_img{
    width: 100px;
    height: 100px;
    position: absolute;
    justify-content: center;
    top: 1px;
    left: 35px;
    border-radius: 50%;
    
}
    
.list{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: white;
    position: relative;
    
        
}
    
.list__item{
    list-style-type: none;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
        
    
}
    
.list__item--click{
    cursor: pointer;
}
    
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin: 0;
    padding: 0;
}
.arrow .list__arrow{
    transform: rotate(90deg);
}
    
.list__arrow{
    margin-left: 10;
    transition: transform .3s;    
    
}
    
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
    
}
    
}
